@model IEnumerable<ClassLibrary.Model.Policy>

@{
    ViewBag.Title = "PolicyDetailsView";
}

<h2>PolicyDetailsView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PolicyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetOwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetOwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PolicyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PolicyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PolicyId })
        </td>
    </tr>
}

</table>
